################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoOut/.vs/GoOut/v14
/GoOut/bin
/GoOut/GoOut/__pycache__
/GoOut/obj/Debug
/GoOut/app/migrations/__pycache__
/GoOut/app/__pycache__
/GoOut/web.debug.config
/GoOut/web.config
/GoOut/app/migrations
/GoOut/app/__init__.pyc
/GoOut/app/views.pyc
/GoOut/app/models.pyc
/GoOut/app/forms.pyc
/GoOut/env
/GoOut/app.yaml~
/app.yaml~
*.pyc
/GoOut/obj/Release
*.dockerignore
*.py
/GoOut/source-contexts.json
/GoOut/source-context.json
/GoOut/static
/GoOut/settings.ini
*.DS_Store
*.GoOut.pyproj
/GoOut/.vs/config
*.gitignore~
