{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Connect with people in your area.</h1>
    <div class="row">
        <div class="col-md-12">
            <section id="locationForm">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% if request.session.location %}
                <h3>Current location: {{ request.session.location.city }}, {{ request.session.location.state }}</h3>
                {% else %}
                <h3>Start by setting your location:</h3>
                {% endif %}
                <hr />
                <div class="form-group">
                    <div class="col-md-6">
                        {{ form.location }}
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="form-control btn-default" id="btnGetCurrentLocation">Get Current Location</button>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" name="next" value="/" />
                        <button type="submit" class="form-control btn-default" id="btnSetLocation">Set Location</button>
                    </div>
                </div>
            </form>
            </section>
            <div id="map"></div>
        </div>
    </div>
</div>

{% endblock %}
