{% if user.is_authenticated %}
{% load userinfo %}
{% if request.session.location %}
<ul class="nav navbar-nav navbar-location">
    <li>{{ request.session.location.city }}, {{ request.session.location.state }}</li>
</ul>
{% endif %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand navbar-icon"><img class="profile-icon" src="{% user_icon_url user %}" /></span></li>
        <li><span class="navbar-brand">Hello {{ user.first_name }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
