body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.profile-pic {
    max-height:300px;
    max-width:300px;
}

.profile-icon {
    max-height:40px;
    max-width:40px;
}

.navbar-icon {
    padding:5px 5px;
}

/* Style for map elements */
#map {
    height:280px;
    width:100%;
}
#map.location-set {
    height:170px;
}

/* Style for navbar elements*/
.navbar-location {
    color:#fff;
    font-size:20px;
    line-height:20px;
    padding:15px 15px;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
}
#userLocationLnk {
    padding:0;
}
.popover {
    max-width:none;
    width:700px;
}
.popover-title{
    color:#333;
    text-align:center;
}
.location-set-center {
    padding:40px 0 10px 0;
}

/* Style for common site elements */
.jumbotron {
    padding-top:0;
}
.padding-right{
    padding-right:5px;
}

/* Styles for articles */
.article {
    border: 1px solid #000;
    margin:10px 0;
    padding:10px;
}
.article-interest-movies {
    background: #fefefe;
}
